div.content
	header.hero-header
		div.container
			div.branding-wrap
				p.logo-introducing Introducing
				a.canvs-logo-link(href="/")
					img.canvs-logo(src="images/logos/canvs-logo-white.svg")
				
