@mixin button-color($color: $teal, $textColor: white) {
	display: inline-block;
	color: $textColor;
	background-color: $color;
	padding: 0 20px;
	margin: 0;
	font-family: $headerFontFamily;
	@include rem('font-size', 21px);
	letter-spacing: 1px;
	text-transform: capitalize;
	text-decoration: none;
	&:hover {
		color: $textColor;
		background-color: tint($color, 15%);
		text-decoration: none;
	}
	&:active {

	}
}

@mixin button-size($height: 45px, $width: auto) {
	width: $width;
	height: $height;
	@include rem('line-height',$height);
}

.btn-teal {
	@include button-color();
	@include button-size();
}