#canvsContactForm {
  margin-bottom: 30px;
  .form-control {
    @extend .input-lg;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-color: tint($gray, 40%);
    font-weight: 300;
    padding: 0 15px;
    height: 45px;
    @include rem('line-height', 32px);
    @include rem('font-size', 21px);
    color: $grayDark;
    vertical-align: middle;
    @include placeholder {
      font-weight: 300;
      @include rem('font-size', 21px);
      @include rem('line-height', 32px);
      color: $grayMed;
    }
    &:focus {
      background-color: white;
      @include placeholder {
        transition: opacity 0.5s 0.5s ease; 
        opacity: 0;
      }
    }
  }
}

.canvsContactform-submit {
  margin-top: 30px;
}