// Grays
// -------------------------
$black:           #000000;
$offBlack:        rgb(35, 35, 35);
$grayDark:        rgb(75, 75, 75);
$grayMed:         #777777;
$gray:            #a0a0a0;
$grayLight:       #dcdcdc;
$grayLightest:    #eeeeee;
$offWhite:        rgb(245, 245, 245);
$white:           #ffffff;
$translucent:     rgba(255, 255, 255, .7);
$lightBlueGray:   rgb(101, 110, 125);


// Default colors
// -------------------------
$mashRed:         rgb(175, 35, 40);
$gold:            rgb(157,133,79);
$red:             rgb(237, 35, 38);
$blue:            rgb(52, 197, 240);
$blueDark:        rgb(0,140,190);
$blueDarkest:     rgb(5,66,88);
$green:           rgb(116, 193, 103);
$yellow:          rgb(249, 179, 24);
$orange:          rgb(245, 135, 3);
$pink:            rgb(240, 95, 144);
$purple:          rgb(190, 120, 190);
$teal:            rgb(48, 188, 174);
$tealDark:        rgb(49, 155, 155);
$tealDarkest:     rgb(67, 89, 89);